*.diff
*.orig
*.patch
*.rej

*.png
*.dat
*.txt

*.o
*.pyc
*.pyo
__pycache__/

*.cwnd
*.dat
*.log
*.aux
*.out
*.toc
*.mob
*.pcap
*.plt
*.routes
*.tr

*.tex
*.pdf
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
*~

testpy-output

bindings/python/pybindgen/

.venv/

# Local scratch/backup artifacts
.git copy/
Untitled

ms_print.*
massif.*
coverity
TAGS

.lock-ns3_*
.ns3rc

build-dir/
build/
cmake-cache/
/.cproject
/.project

version.cache

.gitlab-ci-local/
.idea/
cmake-*/
vcpkg/

.vs/

# Ignore local cache used by e.g. clangd
.cache/
